wheel
Django==3.0
django-autoslug==1.9.3
django-cors-headers==3.7.0
djangorestframework==3.11.2
Markdown==2.6.11
Pillow==8.1.2
pylint==2.7.2
pylint-common==0.2.5
pylint-django==0.7.2
pylint-plugin-utils==0.2.6
pytest==3.2.3
pytest-cov==2.5.1
pytest-django==2.9.1
pytest-sugar==0.7.1
pytz==2017.3
six==1.11.0
uWSGI==2.0.15
wcwidth==0.1.7
wrapt==1.10.11
markdown2