{%extends "patent/base.html"%} {% load static %} {% block content %}
<script src="{%static 'js/blog/md.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<div class="single-post">
    <div class="container">

        <div class="row">
            <div class="col">
                <ul class="breadcrumbs flex align-items-center">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        {{blog.title}}
                    </li>
                </ul>
                <!-- .breadcrumbs -->
            </div>
            <!-- .col -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="featured-img">
                    <figure>
                        <img src="{{blog.cover}}">
                    </figure>
                </div>
                <!-- .content-area -->
            </div>
            <!-- .col -->
        </div>



        <div class='row'>
            <div class="col-12 col-lg-12">
                <div class="content-area" style="min-width: 100%;border:none">
                    <header class="entry-header">
                        

                        <h1>{{blog.title}}</h1>

                        <span class="byline">by <span class="author"><a href="#">{{blog.author}}</a></span></span>
                        <span class="byline">Cover by <span class="author"><a href="#">{{blog.cover_by}}</a></span></span>
                    </header><!-- .entry-header -->
                    <div class="entry-content">
                        <div  id="content-area">

                        {{md|linebreaksbr}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    MathJax.Hub.Config({
        CommonHTML: {
    linebreaks: {automatic: true}
  },
  tex2jax: {
    inlineMath: [['$','$']],
    processEscapes: true
  }
});

   var html =
      marked(document.getElementById('content-area').innerText);
      document.getElementById('content-area').innerHTML = html;

</script> {% endblock %}