{%extends "patent/base.html"%}
{% load static %}

{% block content %}
    <div class="container single-portfolio">
        <div class="row">
            <div class="col-12">
                <div class="featured-img">
                    <figure>
                        <img src="/media/images/xmcover.png" alt="">
                    </figure>
                </div><!-- .content-area -->
            </div><!-- .col-12 -->

            <div class="col-12 col-lg-8">
                <div class="content-area">
                    <header class="entry-header">

                    </header><!-- .entry-header -->



                    <div class="entry-content">
                        <p>
                            <h1 style="display:inline;">Y WEN</h1> is the creator of "XMBSMDSJ" series. He has been studying the essence of XMBS since
                        early 2016, any is always devoted to investigating the way of combining this to modern visual arts.
                        He has been travelling to different places around the world to capture the frames with rich
                        color, shadow and gradient, and match the features in the images with most proper typefaces. He
                        wishes to finish this series within few years but there are still a lot to learn. He's currently doing
                         a master of Information Technology at the University of Melbourne, his main interest is distributed computing
                         and data mining. If you are looking for developers which are able to do some server side development
                         as well as some data mining algorithms, please feel free to contact him :).
                        </p>


                    </div><!-- .entry-content -->

                    <div class="entry-content">
                        <p>
                            Read more articles written by cyber security expert Kaixiang Ren<a href="https://homelabdefense.com"/> here </a>.
                        </p>
                        
                    </div>

                </div><!-- .content-area -->
            </div><!-- .col-12 -->

            <aside class="col-12 col-lg-3 offset-lg-1">
                <div class="entry-meta">
                    <div class="posted-date">
                        <label>Email</label>

                        <span class="date-format"><a href="#">Looooooeee@gmail.com</a></span>
                    </div><!-- .posted-date -->

                    <div class="post-category">
                        <label>Phone</label>
                        <span><a href="#">N/A</a></span>
                    </div><!-- .post-category -->

                    <div class="posted-tags">
                        <label>github</label>
                        <span><a href="github.com/wylswz">github.com/wylswz</a> </span>
                    </div><!-- .entry-meta -->
                </div><!-- .entry-meta -->
            </aside><!-- .col-md-3 -->
        </div><!-- .row -->


    </div><!-- .container -->
{% endblock%}